@color: #006699;

// 头部样式
#header{
    background-color: @color;
    height: 45px;
    position: relative;
    >h4{
        color: #fff;
        text-align: center;
        line-height: 45px;
    }
    >a{
        text-align: right;
        position: absolute;
        right: 10px;
        top: 10px;
        color: #fff;
        font-size: 20px;
    }
}